[access "refs/*"]
	owner = group user/pralavgoa (pralavgoa)
[access "refs/for/refs/*"]
	read = group user/pralavgoa (pralavgoa)
	push = group user/pralavgoa (pralavgoa)
	label-Code-Review = -2..+2 group user/pralavgoa (pralavgoa)
	label-Verified = -1..+1 group user/pralavgoa (pralavgoa)
	rebase = group user/pralavgoa (pralavgoa)
	removeReviewer = group user/pralavgoa (pralavgoa)
	submit = group user/pralavgoa (pralavgoa)
[access "refs/heads/*"]
	read = group user/pralavgoa (pralavgoa)
	create = group user/pralavgoa (pralavgoa)
	push = +force group user/pralavgoa (pralavgoa)
	pushMerge = group user/pralavgoa (pralavgoa)
[access "refs/tags/*"]
	push = +force group user/pralavgoa (pralavgoa)
	pushTag = group user/pralavgoa (pralavgoa)
	pushSignedTag = group user/pralavgoa (pralavgoa)
